In [2]:
n=1
while n<=10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
n=int(input("enter the number:"))
for i in range (1,11):
    print(f"{n}*{i}={n*i}")

enter the number: 5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [4]:
row=5
for i in range(1,row+1):
    for j in range (i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
fruits=["apple","orange","banana","grapes","guava"]
for fruit in fruits:
    print(fruits)

['apple', 'orange', 'banana', 'grapes', 'guava']
['apple', 'orange', 'banana', 'grapes', 'guava']
['apple', 'orange', 'banana', 'grapes', 'guava']
['apple', 'orange', 'banana', 'grapes', 'guava']
['apple', 'orange', 'banana', 'grapes', 'guava']

In [13]:
students={"dsd":86,"kue":98,"ett":77}
for name,marks in students.items():
    print(f"{name}:{marks} marks")

dsd:86 marks
kue:98 marks
ett:77 marks

In [16]:
n=[2,4,6,8,10]
print("third item:",n[2])

third item: 6

In [30]:
s1={1,2,2,3,4,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [41]:
string="python programming"
print("1st 6 characters:",string[:6])
print("last 6 charcters:",string[-6:])
print("every second character:",string[::2])
print("reversed string:",string[::-1])

1st 6 characters: python
last 6 charcters: amming
every second character: pto rgamn
reversed string: gnimmargorp nohtyp

In [42]:
sq=[x**2 for x in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
even=[x for x in range(1,51) if x%2==0 ]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [49]:
words=["apple","egg","ti","yguyft","rdytfyt"]
long=[word for word in words if len(word)>5]
print(long)

['yguyft', 'rdytfyt']

In [52]:
class student:
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
    def get_name(self):
        return self.name
    def get_grade(self):
        return self.grade
    def set_name(self,name):
        self.name=name
    def set_grade(self,grade):
        self.grade=grade
s1=student("A",1)
s2=student("B",2)
print(s1.name,s1.grade)
print(s2.name,s2.grade)

A 1
B 2